.sidebar {
   background-color: #BDBDBD;
   padding: 35px 20px;
   width: 152px;
}

.sort_menu_title {
   font-size: 12px;
   font-weight: 400;
}

.sort_menu_item {
   border: 0px;
   border-radius: 5px;
   padding: 5px 15px;
   margin-bottom: 10px;
   
   background-color: #4b51ef;
   color: #fff;
   font-size: 12px;
   font-weight: 400;
}